@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "vendors/bulma";

@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/slider";

@import "pages/home";
@import "pages/about";
@import "pages/contact";
